html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.main {
    width: 80%;
    max-width: 900px;

    border: 2px solid black;
    border-radius: 5px;

    margin: 5rem auto;
    padding: 1rem;
}

.main hr {
    border: 1px solid black;
}

.post {
    display: grid;
    grid-template-rows: auto auto auto;
}

.post_id {
    margin: 0;
    font-size: 1rem;
}

.post_content {
    display: grid;
    grid-template-columns: 30% auto;
}

.post_image {
    max-width: 100%;
}

.post_message {
    margin: 0;
    padding-left: 1rem;
}
